/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.40.9
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CatalogInstanceTypesAPIService CatalogInstanceTypesAPI service
type CatalogInstanceTypesAPIService service

type ApiV1CatalogInstanceTypesListRequest struct {
	ctx        context.Context
	ApiService *CatalogInstanceTypesAPIService
	delivery   *string
	page       *int32
	pageSize   *int32
}

// Limit results to instance types that can meet the given delivery timelines.
func (r ApiV1CatalogInstanceTypesListRequest) Delivery(delivery string) ApiV1CatalogInstanceTypesListRequest {
	r.delivery = &delivery
	return r
}

// A page number within the paginated result set.
func (r ApiV1CatalogInstanceTypesListRequest) Page(page int32) ApiV1CatalogInstanceTypesListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1CatalogInstanceTypesListRequest) PageSize(pageSize int32) ApiV1CatalogInstanceTypesListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1CatalogInstanceTypesListRequest) Execute() (*PaginatedInstanceTypeList, *http.Response, error) {
	return r.ApiService.V1CatalogInstanceTypesListExecute(r)
}

/*
V1CatalogInstanceTypesList Method for V1CatalogInstanceTypesList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1CatalogInstanceTypesListRequest
*/
func (a *CatalogInstanceTypesAPIService) V1CatalogInstanceTypesList(ctx context.Context) ApiV1CatalogInstanceTypesListRequest {
	return ApiV1CatalogInstanceTypesListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedInstanceTypeList
func (a *CatalogInstanceTypesAPIService) V1CatalogInstanceTypesListExecute(r ApiV1CatalogInstanceTypesListRequest) (*PaginatedInstanceTypeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedInstanceTypeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogInstanceTypesAPIService.V1CatalogInstanceTypesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/instance-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.delivery != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery", r.delivery, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
