/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.40.9
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CatalogVgpuProfileChoicesAPIService CatalogVgpuProfileChoicesAPI service
type CatalogVgpuProfileChoicesAPIService service

type ApiV1CatalogVgpuProfileChoicesCreateRequest struct {
	ctx               context.Context
	ApiService        *CatalogVgpuProfileChoicesAPIService
	vGpuProfileChoice *VGpuProfileChoice
}

func (r ApiV1CatalogVgpuProfileChoicesCreateRequest) VGpuProfileChoice(vGpuProfileChoice VGpuProfileChoice) ApiV1CatalogVgpuProfileChoicesCreateRequest {
	r.vGpuProfileChoice = &vGpuProfileChoice
	return r
}

func (r ApiV1CatalogVgpuProfileChoicesCreateRequest) Execute() (*VGpuProfileChoice, *http.Response, error) {
	return r.ApiService.V1CatalogVgpuProfileChoicesCreateExecute(r)
}

/*
V1CatalogVgpuProfileChoicesCreate Method for V1CatalogVgpuProfileChoicesCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1CatalogVgpuProfileChoicesCreateRequest
*/
func (a *CatalogVgpuProfileChoicesAPIService) V1CatalogVgpuProfileChoicesCreate(ctx context.Context) ApiV1CatalogVgpuProfileChoicesCreateRequest {
	return ApiV1CatalogVgpuProfileChoicesCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return VGpuProfileChoice
func (a *CatalogVgpuProfileChoicesAPIService) V1CatalogVgpuProfileChoicesCreateExecute(r ApiV1CatalogVgpuProfileChoicesCreateRequest) (*VGpuProfileChoice, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *VGpuProfileChoice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogVgpuProfileChoicesAPIService.V1CatalogVgpuProfileChoicesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/vgpu-profile-choices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vGpuProfileChoice == nil {
		return localVarReturnValue, nil, reportError("vGpuProfileChoice is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vGpuProfileChoice
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogVgpuProfileChoicesListRequest struct {
	ctx        context.Context
	ApiService *CatalogVgpuProfileChoicesAPIService
	fields     *string
	omit       *string
	ordering   *string
	page       *int32
	pageSize   *int32
	search     *string
}

// Include only the specified fields in the response
func (r ApiV1CatalogVgpuProfileChoicesListRequest) Fields(fields string) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.fields = &fields
	return r
}

// Exclude the specified fields in the response
func (r ApiV1CatalogVgpuProfileChoicesListRequest) Omit(omit string) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.omit = &omit
	return r
}

// Which field to use when ordering the results.
func (r ApiV1CatalogVgpuProfileChoicesListRequest) Ordering(ordering string) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.ordering = &ordering
	return r
}

// A page number within the paginated result set.
func (r ApiV1CatalogVgpuProfileChoicesListRequest) Page(page int32) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1CatalogVgpuProfileChoicesListRequest) PageSize(pageSize int32) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.pageSize = &pageSize
	return r
}

// Search for vgpuprofilechoices by id, name
func (r ApiV1CatalogVgpuProfileChoicesListRequest) Search(search string) ApiV1CatalogVgpuProfileChoicesListRequest {
	r.search = &search
	return r
}

func (r ApiV1CatalogVgpuProfileChoicesListRequest) Execute() (*PaginatedVGpuProfileChoiceList, *http.Response, error) {
	return r.ApiService.V1CatalogVgpuProfileChoicesListExecute(r)
}

/*
V1CatalogVgpuProfileChoicesList Method for V1CatalogVgpuProfileChoicesList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1CatalogVgpuProfileChoicesListRequest
*/
func (a *CatalogVgpuProfileChoicesAPIService) V1CatalogVgpuProfileChoicesList(ctx context.Context) ApiV1CatalogVgpuProfileChoicesListRequest {
	return ApiV1CatalogVgpuProfileChoicesListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedVGpuProfileChoiceList
func (a *CatalogVgpuProfileChoicesAPIService) V1CatalogVgpuProfileChoicesListExecute(r ApiV1CatalogVgpuProfileChoicesListRequest) (*PaginatedVGpuProfileChoiceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedVGpuProfileChoiceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogVgpuProfileChoicesAPIService.V1CatalogVgpuProfileChoicesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/vgpu-profile-choices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
