/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.39.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CatalogRuntimesAPIService CatalogRuntimesAPI service
type CatalogRuntimesAPIService service

type ApiV1CatalogRuntimesCreateRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	runtime    *Runtime
}

func (r ApiV1CatalogRuntimesCreateRequest) Runtime(runtime Runtime) ApiV1CatalogRuntimesCreateRequest {
	r.runtime = &runtime
	return r
}

func (r ApiV1CatalogRuntimesCreateRequest) Execute() (*Runtime, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesCreateExecute(r)
}

/*
V1CatalogRuntimesCreate Method for V1CatalogRuntimesCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1CatalogRuntimesCreateRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesCreate(ctx context.Context) ApiV1CatalogRuntimesCreateRequest {
	return ApiV1CatalogRuntimesCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Runtime
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesCreateExecute(r ApiV1CatalogRuntimesCreateRequest) (*Runtime, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Runtime
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runtime == nil {
		return localVarReturnValue, nil, reportError("runtime is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runtime
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesDestroyRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	id         string
}

func (r ApiV1CatalogRuntimesDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1CatalogRuntimesDestroyExecute(r)
}

/*
V1CatalogRuntimesDestroy Method for V1CatalogRuntimesDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this runtime.
	@return ApiV1CatalogRuntimesDestroyRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesDestroy(ctx context.Context, id string) ApiV1CatalogRuntimesDestroyRequest {
	return ApiV1CatalogRuntimesDestroyRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesDestroyExecute(r ApiV1CatalogRuntimesDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesHistoryListRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	id         string
	page       *int32
	pageSize   *int32
}

// A page number within the paginated result set.
func (r ApiV1CatalogRuntimesHistoryListRequest) Page(page int32) ApiV1CatalogRuntimesHistoryListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1CatalogRuntimesHistoryListRequest) PageSize(pageSize int32) ApiV1CatalogRuntimesHistoryListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1CatalogRuntimesHistoryListRequest) Execute() (*PaginatedModelChangeList, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesHistoryListExecute(r)
}

/*
V1CatalogRuntimesHistoryList Method for V1CatalogRuntimesHistoryList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1CatalogRuntimesHistoryListRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesHistoryList(ctx context.Context, id string) ApiV1CatalogRuntimesHistoryListRequest {
	return ApiV1CatalogRuntimesHistoryListRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PaginatedModelChangeList
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesHistoryListExecute(r ApiV1CatalogRuntimesHistoryListRequest) (*PaginatedModelChangeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedModelChangeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesHistoryList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/{id}/history/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesListRequest struct {
	ctx              context.Context
	ApiService       *CatalogRuntimesAPIService
	branch           *string
	cnsAddonPack     *bool
	cnsDocker        *bool
	cnsDriverVersion *string
	cnsK8s           *bool
	cnsNvidiaDriver  *bool
	cnsVersion       *string
	fields           *string
	id               *string
	mig              *bool
	migProfile       *string
	omit             *string
	ordering         *string
	page             *int32
	pageSize         *int32
	search           *string
}

func (r ApiV1CatalogRuntimesListRequest) Branch(branch string) ApiV1CatalogRuntimesListRequest {
	r.branch = &branch
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsAddonPack(cnsAddonPack bool) ApiV1CatalogRuntimesListRequest {
	r.cnsAddonPack = &cnsAddonPack
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsDocker(cnsDocker bool) ApiV1CatalogRuntimesListRequest {
	r.cnsDocker = &cnsDocker
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsDriverVersion(cnsDriverVersion string) ApiV1CatalogRuntimesListRequest {
	r.cnsDriverVersion = &cnsDriverVersion
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsK8s(cnsK8s bool) ApiV1CatalogRuntimesListRequest {
	r.cnsK8s = &cnsK8s
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsNvidiaDriver(cnsNvidiaDriver bool) ApiV1CatalogRuntimesListRequest {
	r.cnsNvidiaDriver = &cnsNvidiaDriver
	return r
}

func (r ApiV1CatalogRuntimesListRequest) CnsVersion(cnsVersion string) ApiV1CatalogRuntimesListRequest {
	r.cnsVersion = &cnsVersion
	return r
}

// Include only the specified fields in the response
func (r ApiV1CatalogRuntimesListRequest) Fields(fields string) ApiV1CatalogRuntimesListRequest {
	r.fields = &fields
	return r
}

func (r ApiV1CatalogRuntimesListRequest) Id(id string) ApiV1CatalogRuntimesListRequest {
	r.id = &id
	return r
}

func (r ApiV1CatalogRuntimesListRequest) Mig(mig bool) ApiV1CatalogRuntimesListRequest {
	r.mig = &mig
	return r
}

func (r ApiV1CatalogRuntimesListRequest) MigProfile(migProfile string) ApiV1CatalogRuntimesListRequest {
	r.migProfile = &migProfile
	return r
}

// Exclude the specified fields in the response
func (r ApiV1CatalogRuntimesListRequest) Omit(omit string) ApiV1CatalogRuntimesListRequest {
	r.omit = &omit
	return r
}

// Which field to use when ordering the results.
func (r ApiV1CatalogRuntimesListRequest) Ordering(ordering string) ApiV1CatalogRuntimesListRequest {
	r.ordering = &ordering
	return r
}

// A page number within the paginated result set.
func (r ApiV1CatalogRuntimesListRequest) Page(page int32) ApiV1CatalogRuntimesListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1CatalogRuntimesListRequest) PageSize(pageSize int32) ApiV1CatalogRuntimesListRequest {
	r.pageSize = &pageSize
	return r
}

// Search for runtimes by branch, cns_driver_version, cns_version, mig_profile, id, name, url
func (r ApiV1CatalogRuntimesListRequest) Search(search string) ApiV1CatalogRuntimesListRequest {
	r.search = &search
	return r
}

func (r ApiV1CatalogRuntimesListRequest) Execute() (*PaginatedRuntimeList, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesListExecute(r)
}

/*
V1CatalogRuntimesList Method for V1CatalogRuntimesList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1CatalogRuntimesListRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesList(ctx context.Context) ApiV1CatalogRuntimesListRequest {
	return ApiV1CatalogRuntimesListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedRuntimeList
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesListExecute(r ApiV1CatalogRuntimesListRequest) (*PaginatedRuntimeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedRuntimeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.branch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "branch", r.branch, "form", "")
	}
	if r.cnsAddonPack != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_addon_pack", r.cnsAddonPack, "form", "")
	}
	if r.cnsDocker != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_docker", r.cnsDocker, "form", "")
	}
	if r.cnsDriverVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_driver_version", r.cnsDriverVersion, "form", "")
	}
	if r.cnsK8s != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_k8s", r.cnsK8s, "form", "")
	}
	if r.cnsNvidiaDriver != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_nvidia_driver", r.cnsNvidiaDriver, "form", "")
	}
	if r.cnsVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cns_version", r.cnsVersion, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.mig != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mig", r.mig, "form", "")
	}
	if r.migProfile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mig_profile", r.migProfile, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesPartialUpdateRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	id         string
	runtime    *Runtime
}

func (r ApiV1CatalogRuntimesPartialUpdateRequest) Runtime(runtime Runtime) ApiV1CatalogRuntimesPartialUpdateRequest {
	r.runtime = &runtime
	return r
}

func (r ApiV1CatalogRuntimesPartialUpdateRequest) Execute() (*Runtime, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesPartialUpdateExecute(r)
}

/*
V1CatalogRuntimesPartialUpdate Method for V1CatalogRuntimesPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this runtime.
	@return ApiV1CatalogRuntimesPartialUpdateRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesPartialUpdate(ctx context.Context, id string) ApiV1CatalogRuntimesPartialUpdateRequest {
	return ApiV1CatalogRuntimesPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Runtime
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesPartialUpdateExecute(r ApiV1CatalogRuntimesPartialUpdateRequest) (*Runtime, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Runtime
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runtime == nil {
		return localVarReturnValue, nil, reportError("runtime is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runtime
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesRetrieveRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	id         string
	fields     *string
	omit       *string
}

// Include only the specified fields in the response
func (r ApiV1CatalogRuntimesRetrieveRequest) Fields(fields string) ApiV1CatalogRuntimesRetrieveRequest {
	r.fields = &fields
	return r
}

// Exclude the specified fields in the response
func (r ApiV1CatalogRuntimesRetrieveRequest) Omit(omit string) ApiV1CatalogRuntimesRetrieveRequest {
	r.omit = &omit
	return r
}

func (r ApiV1CatalogRuntimesRetrieveRequest) Execute() (*Runtime, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesRetrieveExecute(r)
}

/*
V1CatalogRuntimesRetrieve Method for V1CatalogRuntimesRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this runtime.
	@return ApiV1CatalogRuntimesRetrieveRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesRetrieve(ctx context.Context, id string) ApiV1CatalogRuntimesRetrieveRequest {
	return ApiV1CatalogRuntimesRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Runtime
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesRetrieveExecute(r ApiV1CatalogRuntimesRetrieveRequest) (*Runtime, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Runtime
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1CatalogRuntimesUpdateRequest struct {
	ctx        context.Context
	ApiService *CatalogRuntimesAPIService
	id         string
	runtime    *Runtime
}

func (r ApiV1CatalogRuntimesUpdateRequest) Runtime(runtime Runtime) ApiV1CatalogRuntimesUpdateRequest {
	r.runtime = &runtime
	return r
}

func (r ApiV1CatalogRuntimesUpdateRequest) Execute() (*Runtime, *http.Response, error) {
	return r.ApiService.V1CatalogRuntimesUpdateExecute(r)
}

/*
V1CatalogRuntimesUpdate Method for V1CatalogRuntimesUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this runtime.
	@return ApiV1CatalogRuntimesUpdateRequest
*/
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesUpdate(ctx context.Context, id string) ApiV1CatalogRuntimesUpdateRequest {
	return ApiV1CatalogRuntimesUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Runtime
func (a *CatalogRuntimesAPIService) V1CatalogRuntimesUpdateExecute(r ApiV1CatalogRuntimesUpdateRequest) (*Runtime, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Runtime
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogRuntimesAPIService.V1CatalogRuntimesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/runtimes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.runtime == nil {
		return localVarReturnValue, nil, reportError("runtime is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runtime
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
