/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.39.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// InventoryNodesAPIService InventoryNodesAPI service
type InventoryNodesAPIService service

type ApiV1InventoryNodesBulkCreateRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	csvFile    *os.File
}

func (r ApiV1InventoryNodesBulkCreateRequest) CsvFile(csvFile *os.File) ApiV1InventoryNodesBulkCreateRequest {
	r.csvFile = csvFile
	return r
}

func (r ApiV1InventoryNodesBulkCreateRequest) Execute() (*NodeBulk, *http.Response, error) {
	return r.ApiService.V1InventoryNodesBulkCreateExecute(r)
}

/*
V1InventoryNodesBulkCreate Method for V1InventoryNodesBulkCreate

Create nodes in bulk via CSV file upload

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryNodesBulkCreateRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesBulkCreate(ctx context.Context) ApiV1InventoryNodesBulkCreateRequest {
	return ApiV1InventoryNodesBulkCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NodeBulk
func (a *InventoryNodesAPIService) V1InventoryNodesBulkCreateExecute(r ApiV1InventoryNodesBulkCreateRequest) (*NodeBulk, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NodeBulk
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesBulkCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/bulk/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.csvFile == nil {
		return localVarReturnValue, nil, reportError("csvFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var csvFileLocalVarFormFileName string
	var csvFileLocalVarFileName string
	var csvFileLocalVarFileBytes []byte

	csvFileLocalVarFormFileName = "csv_file"
	csvFileLocalVarFile := r.csvFile

	if csvFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(csvFileLocalVarFile)

		csvFileLocalVarFileBytes = fbs
		csvFileLocalVarFileName = csvFileLocalVarFile.Name()
		csvFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: csvFileLocalVarFileBytes, fileName: csvFileLocalVarFileName, formFileName: csvFileLocalVarFormFileName})
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesBulkPartialUpdateRequest struct {
	ctx            context.Context
	ApiService     *InventoryNodesAPIService
	nodeBulkUpdate *NodeBulkUpdate
}

func (r ApiV1InventoryNodesBulkPartialUpdateRequest) NodeBulkUpdate(nodeBulkUpdate NodeBulkUpdate) ApiV1InventoryNodesBulkPartialUpdateRequest {
	r.nodeBulkUpdate = &nodeBulkUpdate
	return r
}

func (r ApiV1InventoryNodesBulkPartialUpdateRequest) Execute() (*NodeBulkUpdate, *http.Response, error) {
	return r.ApiService.V1InventoryNodesBulkPartialUpdateExecute(r)
}

/*
V1InventoryNodesBulkPartialUpdate Method for V1InventoryNodesBulkPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryNodesBulkPartialUpdateRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesBulkPartialUpdate(ctx context.Context) ApiV1InventoryNodesBulkPartialUpdateRequest {
	return ApiV1InventoryNodesBulkPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NodeBulkUpdate
func (a *InventoryNodesAPIService) V1InventoryNodesBulkPartialUpdateExecute(r ApiV1InventoryNodesBulkPartialUpdateRequest) (*NodeBulkUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NodeBulkUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/bulk/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nodeBulkUpdate == nil {
		return localVarReturnValue, nil, reportError("nodeBulkUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nodeBulkUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesCreateRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	node       *Node
}

func (r ApiV1InventoryNodesCreateRequest) Node(node Node) ApiV1InventoryNodesCreateRequest {
	r.node = &node
	return r
}

func (r ApiV1InventoryNodesCreateRequest) Execute() (*Node, *http.Response, error) {
	return r.ApiService.V1InventoryNodesCreateExecute(r)
}

/*
V1InventoryNodesCreate Method for V1InventoryNodesCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryNodesCreateRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesCreate(ctx context.Context) ApiV1InventoryNodesCreateRequest {
	return ApiV1InventoryNodesCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Node
func (a *InventoryNodesAPIService) V1InventoryNodesCreateExecute(r ApiV1InventoryNodesCreateRequest) (*Node, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Node
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.node == nil {
		return localVarReturnValue, nil, reportError("node is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.node
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesDestroyRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	id         string
}

func (r ApiV1InventoryNodesDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1InventoryNodesDestroyExecute(r)
}

/*
V1InventoryNodesDestroy Method for V1InventoryNodesDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this node.
	@return ApiV1InventoryNodesDestroyRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesDestroy(ctx context.Context, id string) ApiV1InventoryNodesDestroyRequest {
	return ApiV1InventoryNodesDestroyRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *InventoryNodesAPIService) V1InventoryNodesDestroyExecute(r ApiV1InventoryNodesDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1InventoryNodesHistoryListRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	id         string
	page       *int32
	pageSize   *int32
}

// A page number within the paginated result set.
func (r ApiV1InventoryNodesHistoryListRequest) Page(page int32) ApiV1InventoryNodesHistoryListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1InventoryNodesHistoryListRequest) PageSize(pageSize int32) ApiV1InventoryNodesHistoryListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1InventoryNodesHistoryListRequest) Execute() (*PaginatedModelChangeList, *http.Response, error) {
	return r.ApiService.V1InventoryNodesHistoryListExecute(r)
}

/*
V1InventoryNodesHistoryList Method for V1InventoryNodesHistoryList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1InventoryNodesHistoryListRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesHistoryList(ctx context.Context, id string) ApiV1InventoryNodesHistoryListRequest {
	return ApiV1InventoryNodesHistoryListRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PaginatedModelChangeList
func (a *InventoryNodesAPIService) V1InventoryNodesHistoryListExecute(r ApiV1InventoryNodesHistoryListRequest) (*PaginatedModelChangeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedModelChangeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesHistoryList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/{id}/history/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesListRequest struct {
	ctx             context.Context
	ApiService      *InventoryNodesAPIService
	bmcIp           *string
	bmcMac          *string
	cluster         *string
	cpu             *int32
	cpuManufacturer *string
	cpuModel        *string
	expand          *string
	fields          *string
	garageId        *string
	gpu             *[]string
	gpuAlias        *string
	gpuCount        *int32
	gpuModel        *string
	gpuVbios        *string
	id              *string
	location        *string
	memory          *int32
	mgmtIp          *string
	mgmtMac         *string
	minGpuCount     *int32
	model           *string
	networkType     *string
	oem             *string
	omit            *string
	ordering        *string
	page            *int32
	pageSize        *int32
	provider        *string
	providerNodeId  *string
	rack            *string
	rackUnit        *int32
	search          *string
	serialNumber    *string
	systemArch      *string
	tee             *bool
}

func (r ApiV1InventoryNodesListRequest) BmcIp(bmcIp string) ApiV1InventoryNodesListRequest {
	r.bmcIp = &bmcIp
	return r
}

func (r ApiV1InventoryNodesListRequest) BmcMac(bmcMac string) ApiV1InventoryNodesListRequest {
	r.bmcMac = &bmcMac
	return r
}

func (r ApiV1InventoryNodesListRequest) Cluster(cluster string) ApiV1InventoryNodesListRequest {
	r.cluster = &cluster
	return r
}

func (r ApiV1InventoryNodesListRequest) Cpu(cpu int32) ApiV1InventoryNodesListRequest {
	r.cpu = &cpu
	return r
}

// Manufacturer of the node&#39;s CPU  * &#x60;amd&#x60; - AMD * &#x60;arm&#x60; - ARM * &#x60;intel&#x60; - Intel
func (r ApiV1InventoryNodesListRequest) CpuManufacturer(cpuManufacturer string) ApiV1InventoryNodesListRequest {
	r.cpuManufacturer = &cpuManufacturer
	return r
}

func (r ApiV1InventoryNodesListRequest) CpuModel(cpuModel string) ApiV1InventoryNodesListRequest {
	r.cpuModel = &cpuModel
	return r
}

// Expand related field(s) instead of only showing a UUID. Separate nested relationships with a period (ex: \&quot;location.provider\&quot;). Separate multiple fields with a comma (ex: \&quot;location,oem\&quot;)
func (r ApiV1InventoryNodesListRequest) Expand(expand string) ApiV1InventoryNodesListRequest {
	r.expand = &expand
	return r
}

// Include only the specified fields in the response
func (r ApiV1InventoryNodesListRequest) Fields(fields string) ApiV1InventoryNodesListRequest {
	r.fields = &fields
	return r
}

func (r ApiV1InventoryNodesListRequest) GarageId(garageId string) ApiV1InventoryNodesListRequest {
	r.garageId = &garageId
	return r
}

// Multiple values may be separated by commas.
func (r ApiV1InventoryNodesListRequest) Gpu(gpu []string) ApiV1InventoryNodesListRequest {
	r.gpu = &gpu
	return r
}

// Alias for GPU plan (i.e. installed GPU type and count)
func (r ApiV1InventoryNodesListRequest) GpuAlias(gpuAlias string) ApiV1InventoryNodesListRequest {
	r.gpuAlias = &gpuAlias
	return r
}

func (r ApiV1InventoryNodesListRequest) GpuCount(gpuCount int32) ApiV1InventoryNodesListRequest {
	r.gpuCount = &gpuCount
	return r
}

// Model of GPU(s) installed
func (r ApiV1InventoryNodesListRequest) GpuModel(gpuModel string) ApiV1InventoryNodesListRequest {
	r.gpuModel = &gpuModel
	return r
}

func (r ApiV1InventoryNodesListRequest) GpuVbios(gpuVbios string) ApiV1InventoryNodesListRequest {
	r.gpuVbios = &gpuVbios
	return r
}

func (r ApiV1InventoryNodesListRequest) Id(id string) ApiV1InventoryNodesListRequest {
	r.id = &id
	return r
}

func (r ApiV1InventoryNodesListRequest) Location(location string) ApiV1InventoryNodesListRequest {
	r.location = &location
	return r
}

func (r ApiV1InventoryNodesListRequest) Memory(memory int32) ApiV1InventoryNodesListRequest {
	r.memory = &memory
	return r
}

func (r ApiV1InventoryNodesListRequest) MgmtIp(mgmtIp string) ApiV1InventoryNodesListRequest {
	r.mgmtIp = &mgmtIp
	return r
}

func (r ApiV1InventoryNodesListRequest) MgmtMac(mgmtMac string) ApiV1InventoryNodesListRequest {
	r.mgmtMac = &mgmtMac
	return r
}

// Only include nodes that have a gpu_count greater than or equal to this value
func (r ApiV1InventoryNodesListRequest) MinGpuCount(minGpuCount int32) ApiV1InventoryNodesListRequest {
	r.minGpuCount = &minGpuCount
	return r
}

func (r ApiV1InventoryNodesListRequest) Model(model string) ApiV1InventoryNodesListRequest {
	r.model = &model
	return r
}

// Type of networking technology used  * &#x60;ethernet&#x60; - Ethernet * &#x60;infiniband&#x60; - InfiniBand
func (r ApiV1InventoryNodesListRequest) NetworkType(networkType string) ApiV1InventoryNodesListRequest {
	r.networkType = &networkType
	return r
}

func (r ApiV1InventoryNodesListRequest) Oem(oem string) ApiV1InventoryNodesListRequest {
	r.oem = &oem
	return r
}

// Exclude the specified fields in the response
func (r ApiV1InventoryNodesListRequest) Omit(omit string) ApiV1InventoryNodesListRequest {
	r.omit = &omit
	return r
}

// Which field to use when ordering the results.
func (r ApiV1InventoryNodesListRequest) Ordering(ordering string) ApiV1InventoryNodesListRequest {
	r.ordering = &ordering
	return r
}

// A page number within the paginated result set.
func (r ApiV1InventoryNodesListRequest) Page(page int32) ApiV1InventoryNodesListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1InventoryNodesListRequest) PageSize(pageSize int32) ApiV1InventoryNodesListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1InventoryNodesListRequest) Provider(provider string) ApiV1InventoryNodesListRequest {
	r.provider = &provider
	return r
}

func (r ApiV1InventoryNodesListRequest) ProviderNodeId(providerNodeId string) ApiV1InventoryNodesListRequest {
	r.providerNodeId = &providerNodeId
	return r
}

func (r ApiV1InventoryNodesListRequest) Rack(rack string) ApiV1InventoryNodesListRequest {
	r.rack = &rack
	return r
}

func (r ApiV1InventoryNodesListRequest) RackUnit(rackUnit int32) ApiV1InventoryNodesListRequest {
	r.rackUnit = &rackUnit
	return r
}

// Search for nodes by bmc_ip, bmc_mac, cpu_manufacturer, cpu_model, garage_id, gpu_alias, gpu model, gpu_vbios, id, location name, location provider name, memory, mgmt_ip, mgmt_mac, model, network_type, nic_prefixes, notes, oem name, provider_node_id, rack, rack_unit, serial_number, storage, system_arch
func (r ApiV1InventoryNodesListRequest) Search(search string) ApiV1InventoryNodesListRequest {
	r.search = &search
	return r
}

func (r ApiV1InventoryNodesListRequest) SerialNumber(serialNumber string) ApiV1InventoryNodesListRequest {
	r.serialNumber = &serialNumber
	return r
}

// CPU architecture  * &#x60;amd64&#x60; - amd64 * &#x60;arm64&#x60; - arm64
func (r ApiV1InventoryNodesListRequest) SystemArch(systemArch string) ApiV1InventoryNodesListRequest {
	r.systemArch = &systemArch
	return r
}

func (r ApiV1InventoryNodesListRequest) Tee(tee bool) ApiV1InventoryNodesListRequest {
	r.tee = &tee
	return r
}

func (r ApiV1InventoryNodesListRequest) Execute() (*PaginatedNodeList, *http.Response, error) {
	return r.ApiService.V1InventoryNodesListExecute(r)
}

/*
V1InventoryNodesList Method for V1InventoryNodesList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryNodesListRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesList(ctx context.Context) ApiV1InventoryNodesListRequest {
	return ApiV1InventoryNodesListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedNodeList
func (a *InventoryNodesAPIService) V1InventoryNodesListExecute(r ApiV1InventoryNodesListRequest) (*PaginatedNodeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedNodeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.bmcIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bmc_ip", r.bmcIp, "form", "")
	}
	if r.bmcMac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bmc_mac", r.bmcMac, "form", "")
	}
	if r.cluster != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster", r.cluster, "form", "")
	}
	if r.cpu != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cpu", r.cpu, "form", "")
	}
	if r.cpuManufacturer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cpu_manufacturer", r.cpuManufacturer, "form", "")
	}
	if r.cpuModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cpu_model", r.cpuModel, "form", "")
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.garageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "garage_id", r.garageId, "form", "")
	}
	if r.gpu != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu", r.gpu, "form", "csv")
	}
	if r.gpuAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_alias", r.gpuAlias, "form", "")
	}
	if r.gpuCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_count", r.gpuCount, "form", "")
	}
	if r.gpuModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_model", r.gpuModel, "form", "")
	}
	if r.gpuVbios != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_vbios", r.gpuVbios, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.memory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "memory", r.memory, "form", "")
	}
	if r.mgmtIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mgmt_ip", r.mgmtIp, "form", "")
	}
	if r.mgmtMac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mgmt_mac", r.mgmtMac, "form", "")
	}
	if r.minGpuCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_gpu_count", r.minGpuCount, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.networkType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "network_type", r.networkType, "form", "")
	}
	if r.oem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oem", r.oem, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.providerNodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider_node_id", r.providerNodeId, "form", "")
	}
	if r.rack != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rack", r.rack, "form", "")
	}
	if r.rackUnit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rack_unit", r.rackUnit, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.serialNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serial_number", r.serialNumber, "form", "")
	}
	if r.systemArch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "system_arch", r.systemArch, "form", "")
	}
	if r.tee != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tee", r.tee, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesPartialUpdateRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	id         string
	node       *Node
}

func (r ApiV1InventoryNodesPartialUpdateRequest) Node(node Node) ApiV1InventoryNodesPartialUpdateRequest {
	r.node = &node
	return r
}

func (r ApiV1InventoryNodesPartialUpdateRequest) Execute() (*Node, *http.Response, error) {
	return r.ApiService.V1InventoryNodesPartialUpdateExecute(r)
}

/*
V1InventoryNodesPartialUpdate Method for V1InventoryNodesPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this node.
	@return ApiV1InventoryNodesPartialUpdateRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesPartialUpdate(ctx context.Context, id string) ApiV1InventoryNodesPartialUpdateRequest {
	return ApiV1InventoryNodesPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Node
func (a *InventoryNodesAPIService) V1InventoryNodesPartialUpdateExecute(r ApiV1InventoryNodesPartialUpdateRequest) (*Node, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Node
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.node == nil {
		return localVarReturnValue, nil, reportError("node is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.node
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesRetrieveRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	id         string
	expand     *string
	fields     *string
	omit       *string
}

// Expand related field(s) instead of only showing a UUID. Separate nested relationships with a period (ex: \&quot;location.provider\&quot;). Separate multiple fields with a comma (ex: \&quot;location,oem\&quot;)
func (r ApiV1InventoryNodesRetrieveRequest) Expand(expand string) ApiV1InventoryNodesRetrieveRequest {
	r.expand = &expand
	return r
}

// Include only the specified fields in the response
func (r ApiV1InventoryNodesRetrieveRequest) Fields(fields string) ApiV1InventoryNodesRetrieveRequest {
	r.fields = &fields
	return r
}

// Exclude the specified fields in the response
func (r ApiV1InventoryNodesRetrieveRequest) Omit(omit string) ApiV1InventoryNodesRetrieveRequest {
	r.omit = &omit
	return r
}

func (r ApiV1InventoryNodesRetrieveRequest) Execute() (*Node, *http.Response, error) {
	return r.ApiService.V1InventoryNodesRetrieveExecute(r)
}

/*
V1InventoryNodesRetrieve Method for V1InventoryNodesRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this node.
	@return ApiV1InventoryNodesRetrieveRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesRetrieve(ctx context.Context, id string) ApiV1InventoryNodesRetrieveRequest {
	return ApiV1InventoryNodesRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Node
func (a *InventoryNodesAPIService) V1InventoryNodesRetrieveExecute(r ApiV1InventoryNodesRetrieveRequest) (*Node, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Node
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryNodesUpdateRequest struct {
	ctx        context.Context
	ApiService *InventoryNodesAPIService
	id         string
	node       *Node
}

func (r ApiV1InventoryNodesUpdateRequest) Node(node Node) ApiV1InventoryNodesUpdateRequest {
	r.node = &node
	return r
}

func (r ApiV1InventoryNodesUpdateRequest) Execute() (*Node, *http.Response, error) {
	return r.ApiService.V1InventoryNodesUpdateExecute(r)
}

/*
V1InventoryNodesUpdate Method for V1InventoryNodesUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this node.
	@return ApiV1InventoryNodesUpdateRequest
*/
func (a *InventoryNodesAPIService) V1InventoryNodesUpdate(ctx context.Context, id string) ApiV1InventoryNodesUpdateRequest {
	return ApiV1InventoryNodesUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Node
func (a *InventoryNodesAPIService) V1InventoryNodesUpdateExecute(r ApiV1InventoryNodesUpdateRequest) (*Node, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Node
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryNodesAPIService.V1InventoryNodesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/nodes/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.node == nil {
		return localVarReturnValue, nil, reportError("node is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.node
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
