/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.36.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CatalogGpuOsChoicesAPIService CatalogGpuOsChoicesAPI service
type CatalogGpuOsChoicesAPIService service

type ApiCatalogGpuOsChoicesCreateRequest struct {
	ctx         context.Context
	ApiService  *CatalogGpuOsChoicesAPIService
	gpuOsChoice *GpuOsChoice
}

func (r ApiCatalogGpuOsChoicesCreateRequest) GpuOsChoice(gpuOsChoice GpuOsChoice) ApiCatalogGpuOsChoicesCreateRequest {
	r.gpuOsChoice = &gpuOsChoice
	return r
}

func (r ApiCatalogGpuOsChoicesCreateRequest) Execute() (*GpuOsChoice, *http.Response, error) {
	return r.ApiService.CatalogGpuOsChoicesCreateExecute(r)
}

/*
CatalogGpuOsChoicesCreate Method for CatalogGpuOsChoicesCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCatalogGpuOsChoicesCreateRequest
*/
func (a *CatalogGpuOsChoicesAPIService) CatalogGpuOsChoicesCreate(ctx context.Context) ApiCatalogGpuOsChoicesCreateRequest {
	return ApiCatalogGpuOsChoicesCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GpuOsChoice
func (a *CatalogGpuOsChoicesAPIService) CatalogGpuOsChoicesCreateExecute(r ApiCatalogGpuOsChoicesCreateRequest) (*GpuOsChoice, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GpuOsChoice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogGpuOsChoicesAPIService.CatalogGpuOsChoicesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/gpu-os-choices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gpuOsChoice == nil {
		return localVarReturnValue, nil, reportError("gpuOsChoice is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gpuOsChoice
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCatalogGpuOsChoicesListRequest struct {
	ctx        context.Context
	ApiService *CatalogGpuOsChoicesAPIService
	fields     *string
	omit       *string
	ordering   *string
	page       *int32
	pageSize   *int32
	search     *string
}

// Include only the specified fields in the response
func (r ApiCatalogGpuOsChoicesListRequest) Fields(fields string) ApiCatalogGpuOsChoicesListRequest {
	r.fields = &fields
	return r
}

// Exclude the specified fields in the response
func (r ApiCatalogGpuOsChoicesListRequest) Omit(omit string) ApiCatalogGpuOsChoicesListRequest {
	r.omit = &omit
	return r
}

// Which field to use when ordering the results.
func (r ApiCatalogGpuOsChoicesListRequest) Ordering(ordering string) ApiCatalogGpuOsChoicesListRequest {
	r.ordering = &ordering
	return r
}

// A page number within the paginated result set.
func (r ApiCatalogGpuOsChoicesListRequest) Page(page int32) ApiCatalogGpuOsChoicesListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiCatalogGpuOsChoicesListRequest) PageSize(pageSize int32) ApiCatalogGpuOsChoicesListRequest {
	r.pageSize = &pageSize
	return r
}

// Search for gpuoschoices by id, name, release, version
func (r ApiCatalogGpuOsChoicesListRequest) Search(search string) ApiCatalogGpuOsChoicesListRequest {
	r.search = &search
	return r
}

func (r ApiCatalogGpuOsChoicesListRequest) Execute() (*PaginatedGpuOsChoiceList, *http.Response, error) {
	return r.ApiService.CatalogGpuOsChoicesListExecute(r)
}

/*
CatalogGpuOsChoicesList Method for CatalogGpuOsChoicesList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCatalogGpuOsChoicesListRequest
*/
func (a *CatalogGpuOsChoicesAPIService) CatalogGpuOsChoicesList(ctx context.Context) ApiCatalogGpuOsChoicesListRequest {
	return ApiCatalogGpuOsChoicesListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedGpuOsChoiceList
func (a *CatalogGpuOsChoicesAPIService) CatalogGpuOsChoicesListExecute(r ApiCatalogGpuOsChoicesListRequest) (*PaginatedGpuOsChoiceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedGpuOsChoiceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogGpuOsChoicesAPIService.CatalogGpuOsChoicesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/catalog/gpu-os-choices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
