/*
NVIDIA LaunchPad API

RESTful API for interacting with the NVIDIA LaunchPad platform

API version: 2.39.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// InventoryClustersAPIService InventoryClustersAPI service
type InventoryClustersAPIService service

type ApiV1InventoryClustersBulkPartialUpdateRequest struct {
	ctx               context.Context
	ApiService        *InventoryClustersAPIService
	clusterBulkUpdate *ClusterBulkUpdate
}

func (r ApiV1InventoryClustersBulkPartialUpdateRequest) ClusterBulkUpdate(clusterBulkUpdate ClusterBulkUpdate) ApiV1InventoryClustersBulkPartialUpdateRequest {
	r.clusterBulkUpdate = &clusterBulkUpdate
	return r
}

func (r ApiV1InventoryClustersBulkPartialUpdateRequest) Execute() (*ClusterBulkUpdate, *http.Response, error) {
	return r.ApiService.V1InventoryClustersBulkPartialUpdateExecute(r)
}

/*
V1InventoryClustersBulkPartialUpdate Method for V1InventoryClustersBulkPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryClustersBulkPartialUpdateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersBulkPartialUpdate(ctx context.Context) ApiV1InventoryClustersBulkPartialUpdateRequest {
	return ApiV1InventoryClustersBulkPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClusterBulkUpdate
func (a *InventoryClustersAPIService) V1InventoryClustersBulkPartialUpdateExecute(r ApiV1InventoryClustersBulkPartialUpdateRequest) (*ClusterBulkUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterBulkUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersBulkPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/bulk/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clusterBulkUpdate == nil {
		return localVarReturnValue, nil, reportError("clusterBulkUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.clusterBulkUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersCreateRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	cluster    *Cluster
}

func (r ApiV1InventoryClustersCreateRequest) Cluster(cluster Cluster) ApiV1InventoryClustersCreateRequest {
	r.cluster = &cluster
	return r
}

func (r ApiV1InventoryClustersCreateRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersCreateExecute(r)
}

/*
V1InventoryClustersCreate Method for V1InventoryClustersCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryClustersCreateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersCreate(ctx context.Context) ApiV1InventoryClustersCreateRequest {
	return ApiV1InventoryClustersCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersCreateExecute(r ApiV1InventoryClustersCreateRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cluster
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersDestroyRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
}

func (r ApiV1InventoryClustersDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1InventoryClustersDestroyExecute(r)
}

/*
V1InventoryClustersDestroy Method for V1InventoryClustersDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this cluster.
	@return ApiV1InventoryClustersDestroyRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersDestroy(ctx context.Context, id string) ApiV1InventoryClustersDestroyRequest {
	return ApiV1InventoryClustersDestroyRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *InventoryClustersAPIService) V1InventoryClustersDestroyExecute(r ApiV1InventoryClustersDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1InventoryClustersHistoryListRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
	page       *int32
	pageSize   *int32
}

// A page number within the paginated result set.
func (r ApiV1InventoryClustersHistoryListRequest) Page(page int32) ApiV1InventoryClustersHistoryListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1InventoryClustersHistoryListRequest) PageSize(pageSize int32) ApiV1InventoryClustersHistoryListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1InventoryClustersHistoryListRequest) Execute() (*PaginatedModelChangeList, *http.Response, error) {
	return r.ApiService.V1InventoryClustersHistoryListExecute(r)
}

/*
V1InventoryClustersHistoryList Method for V1InventoryClustersHistoryList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1InventoryClustersHistoryListRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersHistoryList(ctx context.Context, id string) ApiV1InventoryClustersHistoryListRequest {
	return ApiV1InventoryClustersHistoryListRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return PaginatedModelChangeList
func (a *InventoryClustersAPIService) V1InventoryClustersHistoryListExecute(r ApiV1InventoryClustersHistoryListRequest) (*PaginatedModelChangeList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedModelChangeList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersHistoryList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/history/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersListRequest struct {
	ctx                     context.Context
	ApiService              *InventoryClustersAPIService
	available               *bool
	bastionName             *string
	deployment              *string
	enabled                 *bool
	expand                  *string
	experience              *string
	fields                  *string
	garageId                *string
	gpu                     *[]string
	gpuAlias                *string
	gpuCount                *float32
	gpuModel                *string
	hasDeployment           *bool
	hasRequestId            *bool
	hasWorkshopId           *bool
	id                      *string
	location                *string
	locationName            *string
	locationRegion          *string
	maintenance             *bool
	mgmtIp                  *string
	mgmtMac                 *string
	minGpuCount             *float32
	minNodeCount            *float32
	minProvisioningAttempts *int32
	minTenantCount          *float32
	netmask                 *int32
	nodeCount               *float32
	oem                     *string
	omit                    *string
	ordering                *string
	page                    *int32
	pageSize                *int32
	persist                 *bool
	provider                *string
	providerCapacity        *bool
	providerName            *string
	providerNodeId          *string
	provisionUser           *string
	provisioningAttempts    *int32
	provisioningState       *[]string
	publicAddress           *string
	rack                    *string
	requestId               *string
	reservation             *bool
	search                  *string
	systemArch              *string
	vlanId                  *int32
	workshop                *bool
	workshopId              *string
	workshopIdNot           *string
}

// Is the cluster currently available for provisioning?
func (r ApiV1InventoryClustersListRequest) Available(available bool) ApiV1InventoryClustersListRequest {
	r.available = &available
	return r
}

func (r ApiV1InventoryClustersListRequest) BastionName(bastionName string) ApiV1InventoryClustersListRequest {
	r.bastionName = &bastionName
	return r
}

func (r ApiV1InventoryClustersListRequest) Deployment(deployment string) ApiV1InventoryClustersListRequest {
	r.deployment = &deployment
	return r
}

func (r ApiV1InventoryClustersListRequest) Enabled(enabled bool) ApiV1InventoryClustersListRequest {
	r.enabled = &enabled
	return r
}

// Expand related field(s) instead of only showing a UUID. Separate nested relationships with a period (ex: \&quot;nodes.location\&quot;). Separate multiple fields with a comma (ex: \&quot;gpus,nodes\&quot;)
func (r ApiV1InventoryClustersListRequest) Expand(expand string) ApiV1InventoryClustersListRequest {
	r.expand = &expand
	return r
}

func (r ApiV1InventoryClustersListRequest) Experience(experience string) ApiV1InventoryClustersListRequest {
	r.experience = &experience
	return r
}

// Include only the specified fields in the response
func (r ApiV1InventoryClustersListRequest) Fields(fields string) ApiV1InventoryClustersListRequest {
	r.fields = &fields
	return r
}

// Only include clusters whose nodes have the given garage ID
func (r ApiV1InventoryClustersListRequest) GarageId(garageId string) ApiV1InventoryClustersListRequest {
	r.garageId = &garageId
	return r
}

// Multiple values may be separated by commas.
func (r ApiV1InventoryClustersListRequest) Gpu(gpu []string) ApiV1InventoryClustersListRequest {
	r.gpu = &gpu
	return r
}

// Alias for GPU plan (i.e. installed GPU type and count)
func (r ApiV1InventoryClustersListRequest) GpuAlias(gpuAlias string) ApiV1InventoryClustersListRequest {
	r.gpuAlias = &gpuAlias
	return r
}

// Only include clusters with a physical GPU count equal to this value
func (r ApiV1InventoryClustersListRequest) GpuCount(gpuCount float32) ApiV1InventoryClustersListRequest {
	r.gpuCount = &gpuCount
	return r
}

// Only include clusters with the given GPU model name
func (r ApiV1InventoryClustersListRequest) GpuModel(gpuModel string) ApiV1InventoryClustersListRequest {
	r.gpuModel = &gpuModel
	return r
}

func (r ApiV1InventoryClustersListRequest) HasDeployment(hasDeployment bool) ApiV1InventoryClustersListRequest {
	r.hasDeployment = &hasDeployment
	return r
}

func (r ApiV1InventoryClustersListRequest) HasRequestId(hasRequestId bool) ApiV1InventoryClustersListRequest {
	r.hasRequestId = &hasRequestId
	return r
}

func (r ApiV1InventoryClustersListRequest) HasWorkshopId(hasWorkshopId bool) ApiV1InventoryClustersListRequest {
	r.hasWorkshopId = &hasWorkshopId
	return r
}

func (r ApiV1InventoryClustersListRequest) Id(id string) ApiV1InventoryClustersListRequest {
	r.id = &id
	return r
}

func (r ApiV1InventoryClustersListRequest) Location(location string) ApiV1InventoryClustersListRequest {
	r.location = &location
	return r
}

// Only include clusters whose nodes are in the location with the given name
func (r ApiV1InventoryClustersListRequest) LocationName(locationName string) ApiV1InventoryClustersListRequest {
	r.locationName = &locationName
	return r
}

// Only include clusters whose nodes are in the location in the given region
func (r ApiV1InventoryClustersListRequest) LocationRegion(locationRegion string) ApiV1InventoryClustersListRequest {
	r.locationRegion = &locationRegion
	return r
}

func (r ApiV1InventoryClustersListRequest) Maintenance(maintenance bool) ApiV1InventoryClustersListRequest {
	r.maintenance = &maintenance
	return r
}

func (r ApiV1InventoryClustersListRequest) MgmtIp(mgmtIp string) ApiV1InventoryClustersListRequest {
	r.mgmtIp = &mgmtIp
	return r
}

func (r ApiV1InventoryClustersListRequest) MgmtMac(mgmtMac string) ApiV1InventoryClustersListRequest {
	r.mgmtMac = &mgmtMac
	return r
}

// Only include clusters that have a gpu_count greater than or equal to this value
func (r ApiV1InventoryClustersListRequest) MinGpuCount(minGpuCount float32) ApiV1InventoryClustersListRequest {
	r.minGpuCount = &minGpuCount
	return r
}

// Only include clusters that have a node_count greater than or equal to this value
func (r ApiV1InventoryClustersListRequest) MinNodeCount(minNodeCount float32) ApiV1InventoryClustersListRequest {
	r.minNodeCount = &minNodeCount
	return r
}

// Only include clusters that have a provisioning_attempts value greater than or equal to this value
func (r ApiV1InventoryClustersListRequest) MinProvisioningAttempts(minProvisioningAttempts int32) ApiV1InventoryClustersListRequest {
	r.minProvisioningAttempts = &minProvisioningAttempts
	return r
}

// Only include clusters whose number of tenant_ids is greater than or equal to this value
func (r ApiV1InventoryClustersListRequest) MinTenantCount(minTenantCount float32) ApiV1InventoryClustersListRequest {
	r.minTenantCount = &minTenantCount
	return r
}

func (r ApiV1InventoryClustersListRequest) Netmask(netmask int32) ApiV1InventoryClustersListRequest {
	r.netmask = &netmask
	return r
}

// Only include clusters with a node count equal to this value
func (r ApiV1InventoryClustersListRequest) NodeCount(nodeCount float32) ApiV1InventoryClustersListRequest {
	r.nodeCount = &nodeCount
	return r
}

// Only include clusters with nodes that have the given OEM ID
func (r ApiV1InventoryClustersListRequest) Oem(oem string) ApiV1InventoryClustersListRequest {
	r.oem = &oem
	return r
}

// Exclude the specified fields in the response
func (r ApiV1InventoryClustersListRequest) Omit(omit string) ApiV1InventoryClustersListRequest {
	r.omit = &omit
	return r
}

// Which field to use when ordering the results.
func (r ApiV1InventoryClustersListRequest) Ordering(ordering string) ApiV1InventoryClustersListRequest {
	r.ordering = &ordering
	return r
}

// A page number within the paginated result set.
func (r ApiV1InventoryClustersListRequest) Page(page int32) ApiV1InventoryClustersListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV1InventoryClustersListRequest) PageSize(pageSize int32) ApiV1InventoryClustersListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV1InventoryClustersListRequest) Persist(persist bool) ApiV1InventoryClustersListRequest {
	r.persist = &persist
	return r
}

func (r ApiV1InventoryClustersListRequest) Provider(provider string) ApiV1InventoryClustersListRequest {
	r.provider = &provider
	return r
}

func (r ApiV1InventoryClustersListRequest) ProviderCapacity(providerCapacity bool) ApiV1InventoryClustersListRequest {
	r.providerCapacity = &providerCapacity
	return r
}

// Only include clusters whose nodes are from the provider with the given name
func (r ApiV1InventoryClustersListRequest) ProviderName(providerName string) ApiV1InventoryClustersListRequest {
	r.providerName = &providerName
	return r
}

func (r ApiV1InventoryClustersListRequest) ProviderNodeId(providerNodeId string) ApiV1InventoryClustersListRequest {
	r.providerNodeId = &providerNodeId
	return r
}

func (r ApiV1InventoryClustersListRequest) ProvisionUser(provisionUser string) ApiV1InventoryClustersListRequest {
	r.provisionUser = &provisionUser
	return r
}

func (r ApiV1InventoryClustersListRequest) ProvisioningAttempts(provisioningAttempts int32) ApiV1InventoryClustersListRequest {
	r.provisioningAttempts = &provisioningAttempts
	return r
}

// Multiple values may be separated by commas.  * &#x60;deployed&#x60; - Cluster is in use by a deployment * &#x60;deploying&#x60; - Provisioning is in progress * &#x60;destroying&#x60; - Cluster is being destroyed * &#x60;pending&#x60; - Provisioning will begin soon * &#x60;ready&#x60; - Provisioning has completed and is ready for a deployment * &#x60;reserved&#x60; - Cluster is unprovisioned but reserved for later use * &#x60;unprovisioned&#x60; - Cluster has not yet been provisioned
func (r ApiV1InventoryClustersListRequest) ProvisioningState(provisioningState []string) ApiV1InventoryClustersListRequest {
	r.provisioningState = &provisioningState
	return r
}

func (r ApiV1InventoryClustersListRequest) PublicAddress(publicAddress string) ApiV1InventoryClustersListRequest {
	r.publicAddress = &publicAddress
	return r
}

// Only include clusters whose nodes are in the given rack
func (r ApiV1InventoryClustersListRequest) Rack(rack string) ApiV1InventoryClustersListRequest {
	r.rack = &rack
	return r
}

func (r ApiV1InventoryClustersListRequest) RequestId(requestId string) ApiV1InventoryClustersListRequest {
	r.requestId = &requestId
	return r
}

func (r ApiV1InventoryClustersListRequest) Reservation(reservation bool) ApiV1InventoryClustersListRequest {
	r.reservation = &reservation
	return r
}

// Search for clusters by bastion_name, experience id, gpu_alias, gpus model, id, mgmt_ip, mgmt_mac, netmask, nodes garage_id, nodes location name, nodes location provider name, nodes oem name, nodes provider_node_id, nodes rack, notes, provision_user, provisioning_state, public_address, request_id, tenant_ids, workshop_id
func (r ApiV1InventoryClustersListRequest) Search(search string) ApiV1InventoryClustersListRequest {
	r.search = &search
	return r
}

// Only include clusters whose nodes have the given CPU architecture
func (r ApiV1InventoryClustersListRequest) SystemArch(systemArch string) ApiV1InventoryClustersListRequest {
	r.systemArch = &systemArch
	return r
}

func (r ApiV1InventoryClustersListRequest) VlanId(vlanId int32) ApiV1InventoryClustersListRequest {
	r.vlanId = &vlanId
	return r
}

func (r ApiV1InventoryClustersListRequest) Workshop(workshop bool) ApiV1InventoryClustersListRequest {
	r.workshop = &workshop
	return r
}

func (r ApiV1InventoryClustersListRequest) WorkshopId(workshopId string) ApiV1InventoryClustersListRequest {
	r.workshopId = &workshopId
	return r
}

func (r ApiV1InventoryClustersListRequest) WorkshopIdNot(workshopIdNot string) ApiV1InventoryClustersListRequest {
	r.workshopIdNot = &workshopIdNot
	return r
}

func (r ApiV1InventoryClustersListRequest) Execute() (*PaginatedClusterList, *http.Response, error) {
	return r.ApiService.V1InventoryClustersListExecute(r)
}

/*
V1InventoryClustersList Method for V1InventoryClustersList

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryClustersListRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersList(ctx context.Context) ApiV1InventoryClustersListRequest {
	return ApiV1InventoryClustersListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedClusterList
func (a *InventoryClustersAPIService) V1InventoryClustersListExecute(r ApiV1InventoryClustersListRequest) (*PaginatedClusterList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedClusterList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.available != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "available", r.available, "form", "")
	}
	if r.bastionName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bastion_name", r.bastionName, "form", "")
	}
	if r.deployment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deployment", r.deployment, "form", "")
	}
	if r.enabled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled", r.enabled, "form", "")
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	if r.experience != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "experience", r.experience, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.garageId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "garage_id", r.garageId, "form", "")
	}
	if r.gpu != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu", r.gpu, "form", "csv")
	}
	if r.gpuAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_alias", r.gpuAlias, "form", "")
	}
	if r.gpuCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_count", r.gpuCount, "form", "")
	}
	if r.gpuModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_model", r.gpuModel, "form", "")
	}
	if r.hasDeployment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_deployment", r.hasDeployment, "form", "")
	}
	if r.hasRequestId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_request_id", r.hasRequestId, "form", "")
	}
	if r.hasWorkshopId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_workshop_id", r.hasWorkshopId, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.locationName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location_name", r.locationName, "form", "")
	}
	if r.locationRegion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location_region", r.locationRegion, "form", "")
	}
	if r.maintenance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maintenance", r.maintenance, "form", "")
	}
	if r.mgmtIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mgmt_ip", r.mgmtIp, "form", "")
	}
	if r.mgmtMac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mgmt_mac", r.mgmtMac, "form", "")
	}
	if r.minGpuCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_gpu_count", r.minGpuCount, "form", "")
	}
	if r.minNodeCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_node_count", r.minNodeCount, "form", "")
	}
	if r.minProvisioningAttempts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_provisioning_attempts", r.minProvisioningAttempts, "form", "")
	}
	if r.minTenantCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_tenant_count", r.minTenantCount, "form", "")
	}
	if r.netmask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "netmask", r.netmask, "form", "")
	}
	if r.nodeCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_count", r.nodeCount, "form", "")
	}
	if r.oem != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oem", r.oem, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	if r.persist != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "persist", r.persist, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.providerCapacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider_capacity", r.providerCapacity, "form", "")
	}
	if r.providerName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider_name", r.providerName, "form", "")
	}
	if r.providerNodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider_node_id", r.providerNodeId, "form", "")
	}
	if r.provisionUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provision_user", r.provisionUser, "form", "")
	}
	if r.provisioningAttempts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provisioning_attempts", r.provisioningAttempts, "form", "")
	}
	if r.provisioningState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provisioning_state", r.provisioningState, "form", "csv")
	}
	if r.publicAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "public_address", r.publicAddress, "form", "")
	}
	if r.rack != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rack", r.rack, "form", "")
	}
	if r.requestId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request_id", r.requestId, "form", "")
	}
	if r.reservation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reservation", r.reservation, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.systemArch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "system_arch", r.systemArch, "form", "")
	}
	if r.vlanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vlan_id", r.vlanId, "form", "")
	}
	if r.workshop != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workshop", r.workshop, "form", "")
	}
	if r.workshopId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workshop_id", r.workshopId, "form", "")
	}
	if r.workshopIdNot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workshop_id_not", r.workshopIdNot, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersPartialUpdateRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
	cluster    *Cluster
}

func (r ApiV1InventoryClustersPartialUpdateRequest) Cluster(cluster Cluster) ApiV1InventoryClustersPartialUpdateRequest {
	r.cluster = &cluster
	return r
}

func (r ApiV1InventoryClustersPartialUpdateRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersPartialUpdateExecute(r)
}

/*
V1InventoryClustersPartialUpdate Method for V1InventoryClustersPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this cluster.
	@return ApiV1InventoryClustersPartialUpdateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersPartialUpdate(ctx context.Context, id string) ApiV1InventoryClustersPartialUpdateRequest {
	return ApiV1InventoryClustersPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersPartialUpdateExecute(r ApiV1InventoryClustersPartialUpdateRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cluster
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersPipelinesTriggerCreateRequest struct {
	ctx                    context.Context
	ApiService             *InventoryClustersAPIService
	id                     string
	clusterPipelineTrigger *ClusterPipelineTrigger
}

func (r ApiV1InventoryClustersPipelinesTriggerCreateRequest) ClusterPipelineTrigger(clusterPipelineTrigger ClusterPipelineTrigger) ApiV1InventoryClustersPipelinesTriggerCreateRequest {
	r.clusterPipelineTrigger = &clusterPipelineTrigger
	return r
}

func (r ApiV1InventoryClustersPipelinesTriggerCreateRequest) Execute() (*ClusterPipelineTrigger, *http.Response, error) {
	return r.ApiService.V1InventoryClustersPipelinesTriggerCreateExecute(r)
}

/*
V1InventoryClustersPipelinesTriggerCreate Method for V1InventoryClustersPipelinesTriggerCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1InventoryClustersPipelinesTriggerCreateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersPipelinesTriggerCreate(ctx context.Context, id string) ApiV1InventoryClustersPipelinesTriggerCreateRequest {
	return ApiV1InventoryClustersPipelinesTriggerCreateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ClusterPipelineTrigger
func (a *InventoryClustersAPIService) V1InventoryClustersPipelinesTriggerCreateExecute(r ApiV1InventoryClustersPipelinesTriggerCreateRequest) (*ClusterPipelineTrigger, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterPipelineTrigger
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersPipelinesTriggerCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/pipelines/trigger/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clusterPipelineTrigger == nil {
		return localVarReturnValue, nil, reportError("clusterPipelineTrigger is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.clusterPipelineTrigger
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersProvisionCreateRequest struct {
	ctx                 context.Context
	ApiService          *InventoryClustersAPIService
	provisioningRequest *ProvisioningRequest
	expand              *string
}

func (r ApiV1InventoryClustersProvisionCreateRequest) ProvisioningRequest(provisioningRequest ProvisioningRequest) ApiV1InventoryClustersProvisionCreateRequest {
	r.provisioningRequest = &provisioningRequest
	return r
}

// Expand related field(s) instead of only showing a UUID (ex: \&quot;cluster,experience\&quot;).
func (r ApiV1InventoryClustersProvisionCreateRequest) Expand(expand string) ApiV1InventoryClustersProvisionCreateRequest {
	r.expand = &expand
	return r
}

func (r ApiV1InventoryClustersProvisionCreateRequest) Execute() (*ProvisioningRequest, *http.Response, error) {
	return r.ApiService.V1InventoryClustersProvisionCreateExecute(r)
}

/*
V1InventoryClustersProvisionCreate Method for V1InventoryClustersProvisionCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryClustersProvisionCreateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionCreate(ctx context.Context) ApiV1InventoryClustersProvisionCreateRequest {
	return ApiV1InventoryClustersProvisionCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProvisioningRequest
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionCreateExecute(r ApiV1InventoryClustersProvisionCreateRequest) (*ProvisioningRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProvisioningRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersProvisionCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/provision/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provisioningRequest == nil {
		return localVarReturnValue, nil, reportError("provisioningRequest is required and must be specified")
	}

	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.provisioningRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersProvisionDestroyRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
	expand     *string
}

// Expand related field(s) instead of only showing a UUID (ex: \&quot;cluster,experience\&quot;).
func (r ApiV1InventoryClustersProvisionDestroyRequest) Expand(expand string) ApiV1InventoryClustersProvisionDestroyRequest {
	r.expand = &expand
	return r
}

func (r ApiV1InventoryClustersProvisionDestroyRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersProvisionDestroyExecute(r)
}

/*
V1InventoryClustersProvisionDestroy Method for V1InventoryClustersProvisionDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1InventoryClustersProvisionDestroyRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionDestroy(ctx context.Context, id string) ApiV1InventoryClustersProvisionDestroyRequest {
	return ApiV1InventoryClustersProvisionDestroyRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionDestroyExecute(r ApiV1InventoryClustersProvisionDestroyRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersProvisionDestroy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/provision/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersProvisionPartialUpdateRequest struct {
	ctx                 context.Context
	ApiService          *InventoryClustersAPIService
	id                  string
	provisioningRequest *ProvisioningRequest
}

func (r ApiV1InventoryClustersProvisionPartialUpdateRequest) ProvisioningRequest(provisioningRequest ProvisioningRequest) ApiV1InventoryClustersProvisionPartialUpdateRequest {
	r.provisioningRequest = &provisioningRequest
	return r
}

func (r ApiV1InventoryClustersProvisionPartialUpdateRequest) Execute() (*ProvisioningRequest, *http.Response, error) {
	return r.ApiService.V1InventoryClustersProvisionPartialUpdateExecute(r)
}

/*
V1InventoryClustersProvisionPartialUpdate Method for V1InventoryClustersProvisionPartialUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV1InventoryClustersProvisionPartialUpdateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionPartialUpdate(ctx context.Context, id string) ApiV1InventoryClustersProvisionPartialUpdateRequest {
	return ApiV1InventoryClustersProvisionPartialUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ProvisioningRequest
func (a *InventoryClustersAPIService) V1InventoryClustersProvisionPartialUpdateExecute(r ApiV1InventoryClustersProvisionPartialUpdateRequest) (*ProvisioningRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProvisioningRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersProvisionPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/provision/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provisioningRequest == nil {
		return localVarReturnValue, nil, reportError("provisioningRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.provisioningRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersRetrieveRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
	expand     *string
	fields     *string
	omit       *string
}

// Expand related field(s) instead of only showing a UUID. Separate nested relationships with a period (ex: \&quot;nodes.location\&quot;). Separate multiple fields with a comma (ex: \&quot;gpus,nodes\&quot;)
func (r ApiV1InventoryClustersRetrieveRequest) Expand(expand string) ApiV1InventoryClustersRetrieveRequest {
	r.expand = &expand
	return r
}

// Include only the specified fields in the response
func (r ApiV1InventoryClustersRetrieveRequest) Fields(fields string) ApiV1InventoryClustersRetrieveRequest {
	r.fields = &fields
	return r
}

// Exclude the specified fields in the response
func (r ApiV1InventoryClustersRetrieveRequest) Omit(omit string) ApiV1InventoryClustersRetrieveRequest {
	r.omit = &omit
	return r
}

func (r ApiV1InventoryClustersRetrieveRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersRetrieveExecute(r)
}

/*
V1InventoryClustersRetrieve Method for V1InventoryClustersRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this cluster.
	@return ApiV1InventoryClustersRetrieveRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersRetrieve(ctx context.Context, id string) ApiV1InventoryClustersRetrieveRequest {
	return ApiV1InventoryClustersRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersRetrieveExecute(r ApiV1InventoryClustersRetrieveRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	if r.omit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "omit", r.omit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersStatsRetrieveRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
}

func (r ApiV1InventoryClustersStatsRetrieveRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1InventoryClustersStatsRetrieveExecute(r)
}

/*
V1InventoryClustersStatsRetrieve 🚧 [Beta Feature]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV1InventoryClustersStatsRetrieveRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersStatsRetrieve(ctx context.Context) ApiV1InventoryClustersStatsRetrieveRequest {
	return ApiV1InventoryClustersStatsRetrieveRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *InventoryClustersAPIService) V1InventoryClustersStatsRetrieveExecute(r ApiV1InventoryClustersStatsRetrieveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersStatsRetrieve")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/stats/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1InventoryClustersTenantsCreateRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	clusterId  string
	tenant     *Tenant
}

func (r ApiV1InventoryClustersTenantsCreateRequest) Tenant(tenant Tenant) ApiV1InventoryClustersTenantsCreateRequest {
	r.tenant = &tenant
	return r
}

func (r ApiV1InventoryClustersTenantsCreateRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersTenantsCreateExecute(r)
}

/*
V1InventoryClustersTenantsCreate Method for V1InventoryClustersTenantsCreate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId
	@return ApiV1InventoryClustersTenantsCreateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersTenantsCreate(ctx context.Context, clusterId string) ApiV1InventoryClustersTenantsCreateRequest {
	return ApiV1InventoryClustersTenantsCreateRequest{
		ApiService: a,
		ctx:        ctx,
		clusterId:  clusterId,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersTenantsCreateExecute(r ApiV1InventoryClustersTenantsCreateRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersTenantsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{cluster_id}/tenants/"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenant == nil {
		return localVarReturnValue, nil, reportError("tenant is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tenant
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1InventoryClustersTenantsDestroyRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	clusterId  string
	id         string
}

func (r ApiV1InventoryClustersTenantsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1InventoryClustersTenantsDestroyExecute(r)
}

/*
V1InventoryClustersTenantsDestroy Method for V1InventoryClustersTenantsDestroy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clusterId
	@param id
	@return ApiV1InventoryClustersTenantsDestroyRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersTenantsDestroy(ctx context.Context, clusterId string, id string) ApiV1InventoryClustersTenantsDestroyRequest {
	return ApiV1InventoryClustersTenantsDestroyRequest{
		ApiService: a,
		ctx:        ctx,
		clusterId:  clusterId,
		id:         id,
	}
}

// Execute executes the request
func (a *InventoryClustersAPIService) V1InventoryClustersTenantsDestroyExecute(r ApiV1InventoryClustersTenantsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersTenantsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{cluster_id}/tenants/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"cluster_id"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV1InventoryClustersUpdateRequest struct {
	ctx        context.Context
	ApiService *InventoryClustersAPIService
	id         string
	cluster    *Cluster
}

func (r ApiV1InventoryClustersUpdateRequest) Cluster(cluster Cluster) ApiV1InventoryClustersUpdateRequest {
	r.cluster = &cluster
	return r
}

func (r ApiV1InventoryClustersUpdateRequest) Execute() (*Cluster, *http.Response, error) {
	return r.ApiService.V1InventoryClustersUpdateExecute(r)
}

/*
V1InventoryClustersUpdate Method for V1InventoryClustersUpdate

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id A UUID string identifying this cluster.
	@return ApiV1InventoryClustersUpdateRequest
*/
func (a *InventoryClustersAPIService) V1InventoryClustersUpdate(ctx context.Context, id string) ApiV1InventoryClustersUpdateRequest {
	return ApiV1InventoryClustersUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Cluster
func (a *InventoryClustersAPIService) V1InventoryClustersUpdateExecute(r ApiV1InventoryClustersUpdateRequest) (*Cluster, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Cluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryClustersAPIService.V1InventoryClustersUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/inventory/clusters/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.cluster
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["TokenAuthentication"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
