/*
Massed Compute VM API

**API documentation for our direct on-demand offering**  *If you are a marketplace looking to leverage our GPU inventory please contact us at techadmin@massedcompute.com* # Authentication Authentication of every endpoint provided requres a API token. We leverage Bearer token authentication on our endpoints.  | Header | Value | | --- | --- | | Authorization | Bearer {{api_token}} |  To provision an API key, please see our [API Settings documentation](/docs/settings/api-settings).

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CouponAPIService CouponAPI service
type CouponAPIService service

type ApiCouponAcceptedProductsPostRequest struct {
	ctx                          context.Context
	ApiService                   *CouponAPIService
	couponInformationPostRequest *CouponInformationPostRequest
}

func (r ApiCouponAcceptedProductsPostRequest) CouponInformationPostRequest(couponInformationPostRequest CouponInformationPostRequest) ApiCouponAcceptedProductsPostRequest {
	r.couponInformationPostRequest = &couponInformationPostRequest
	return r
}

func (r ApiCouponAcceptedProductsPostRequest) Execute() (*RetrieveAcceptProductsV1, *http.Response, error) {
	return r.ApiService.CouponAcceptedProductsPostExecute(r)
}

/*
CouponAcceptedProductsPost Retrieve products that a coupon is valid for.

A coupon is a discount code that can be applied to an instance when deployed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCouponAcceptedProductsPostRequest
*/
func (a *CouponAPIService) CouponAcceptedProductsPost(ctx context.Context) ApiCouponAcceptedProductsPostRequest {
	return ApiCouponAcceptedProductsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RetrieveAcceptProductsV1
func (a *CouponAPIService) CouponAcceptedProductsPostExecute(r ApiCouponAcceptedProductsPostRequest) (*RetrieveAcceptProductsV1, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RetrieveAcceptProductsV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CouponAPIService.CouponAcceptedProductsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/coupon/accepted-products"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.couponInformationPostRequest == nil {
		return localVarReturnValue, nil, reportError("couponInformationPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.couponInformationPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCouponInformationPostRequest struct {
	ctx                          context.Context
	ApiService                   *CouponAPIService
	couponInformationPostRequest *CouponInformationPostRequest
}

func (r ApiCouponInformationPostRequest) CouponInformationPostRequest(couponInformationPostRequest CouponInformationPostRequest) ApiCouponInformationPostRequest {
	r.couponInformationPostRequest = &couponInformationPostRequest
	return r
}

func (r ApiCouponInformationPostRequest) Execute() (*RetrieveCouponInformationV1, *http.Response, error) {
	return r.ApiService.CouponInformationPostExecute(r)
}

/*
CouponInformationPost Retrieve information about a coupon.

A coupon is a discount code that can be applied to an instance when deployed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCouponInformationPostRequest
*/
func (a *CouponAPIService) CouponInformationPost(ctx context.Context) ApiCouponInformationPostRequest {
	return ApiCouponInformationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RetrieveCouponInformationV1
func (a *CouponAPIService) CouponInformationPostExecute(r ApiCouponInformationPostRequest) (*RetrieveCouponInformationV1, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RetrieveCouponInformationV1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CouponAPIService.CouponInformationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/coupon/information"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.couponInformationPostRequest == nil {
		return localVarReturnValue, nil, reportError("couponInformationPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.couponInformationPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
